<div class="container" appMouseAnimation>
  <div class="card">
    <div class="product">
      <img class="card-img-top"  [src]="photoUrl[buttonClicked]" alt="Iphone12Max">
      <div class="circle"></div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Iphone 12 Pro Max</h5>
      <p class="card-text">A14 Bionic rockets past every other smartphone chip. </p>

      <div class="color">
        <ng-container *ngFor="let item of phoneColor">
          <button [ngClass]="{'active': buttonClicked === item}" (click)="buttonClicked = item">{{item}}</button>
        </ng-container>
      </div>
      <div class="purchase">
        <button>Purchase</button>
      </div>
    </div>
  </div>
</div>